*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(29, 29, 29);
    color: blanchedalmond;
}
h1{
    font-size: 40px;
    font-weight: 800;   
}