# temp files
Thumbs.db
Desktop.ini

# project files
.project

# project ignores
!.gitkeep
.privado
*__*.*
node_modules
docs/

# respaldo temporal
*.bak
plqpp

CursoDeJuegos/js/juego-28.js

.npm
package-lock.json
npm-debug.log*

logs
*.log


