/* Coolors Exported Palette - https://coolors.co/22220b-405127-a7d266-d8e0a2-6b4924 */

/* CSS HEX */
--pine-tree: #22220bff;
--army-green: #405127ff;
--yellow-green-crayola: #a7d266ff;
--pale-spring-bud: #d8e0a2ff;
--dark-brown: #6b4924ff;

/* CSS HSL */
--pine-tree: hsla(60, 51%, 9%, 1);
--army-green: hsla(84, 35%, 24%, 1);
--yellow-green-crayola: hsla(84, 55%, 61%, 1);
--pale-spring-bud: hsla(68, 50%, 76%, 1);
--dark-brown: hsla(31, 50%, 28%, 1);

/* SCSS HEX */
$pine-tree: #22220bff;
$army-green: #405127ff;
$yellow-green-crayola: #a7d266ff;
$pale-spring-bud: #d8e0a2ff;
$dark-brown: #6b4924ff;

/* SCSS HSL */
$pine-tree: hsla(60, 51%, 9%, 1);
$army-green: hsla(84, 35%, 24%, 1);
$yellow-green-crayola: hsla(84, 55%, 61%, 1);
$pale-spring-bud: hsla(68, 50%, 76%, 1);
$dark-brown: hsla(31, 50%, 28%, 1);

/* SCSS RGB */
$pine-tree: rgba(34, 34, 11, 1);
$army-green: rgba(64, 81, 39, 1);
$yellow-green-crayola: rgba(167, 210, 102, 1);
$pale-spring-bud: rgba(216, 224, 162, 1);
$dark-brown: rgba(107, 73, 36, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #22220bff, #405127ff, #a7d266ff, #d8e0a2ff, #6b4924ff);
$gradient-right: linear-gradient(90deg, #22220bff, #405127ff, #a7d266ff, #d8e0a2ff, #6b4924ff);
$gradient-bottom: linear-gradient(180deg, #22220bff, #405127ff, #a7d266ff, #d8e0a2ff, #6b4924ff);
$gradient-left: linear-gradient(270deg, #22220bff, #405127ff, #a7d266ff, #d8e0a2ff, #6b4924ff);
$gradient-top-right: linear-gradient(45deg, #22220bff, #405127ff, #a7d266ff, #d8e0a2ff, #6b4924ff);
$gradient-bottom-right: linear-gradient(135deg, #22220bff, #405127ff, #a7d266ff, #d8e0a2ff, #6b4924ff);
$gradient-top-left: linear-gradient(225deg, #22220bff, #405127ff, #a7d266ff, #d8e0a2ff, #6b4924ff);
$gradient-bottom-left: linear-gradient(315deg, #22220bff, #405127ff, #a7d266ff, #d8e0a2ff, #6b4924ff);
$gradient-radial: radial-gradient(#22220bff, #405127ff, #a7d266ff, #d8e0a2ff, #6b4924ff);