/* Coolors Exported Palette - https://coolors.co/230007-d7cf07-d98324-a40606-5a0002 */

/* CSS HEX */
--dark-sienna: #230007ff;
--citrine: #d7cf07ff;
--fulvous: #d98324ff;
--rufous: #a40606ff;
--rosewood: #5a0002ff;

/* CSS HSL */
--dark-sienna: hsla(348, 100%, 7%, 1);
--citrine: hsla(58, 94%, 44%, 1);
--fulvous: hsla(31, 72%, 50%, 1);
--rufous: hsla(0, 93%, 33%, 1);
--rosewood: hsla(359, 100%, 18%, 1);

/* SCSS HEX */
$dark-sienna: #230007ff;
$citrine: #d7cf07ff;
$fulvous: #d98324ff;
$rufous: #a40606ff;
$rosewood: #5a0002ff;

/* SCSS HSL */
$dark-sienna: hsla(348, 100%, 7%, 1);
$citrine: hsla(58, 94%, 44%, 1);
$fulvous: hsla(31, 72%, 50%, 1);
$rufous: hsla(0, 93%, 33%, 1);
$rosewood: hsla(359, 100%, 18%, 1);

/* SCSS RGB */
$dark-sienna: rgba(35, 0, 7, 1);
$citrine: rgba(215, 207, 7, 1);
$fulvous: rgba(217, 131, 36, 1);
$rufous: rgba(164, 6, 6, 1);
$rosewood: rgba(90, 0, 2, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #230007ff, #d7cf07ff, #d98324ff, #a40606ff, #5a0002ff);
$gradient-right: linear-gradient(90deg, #230007ff, #d7cf07ff, #d98324ff, #a40606ff, #5a0002ff);
$gradient-bottom: linear-gradient(180deg, #230007ff, #d7cf07ff, #d98324ff, #a40606ff, #5a0002ff);
$gradient-left: linear-gradient(270deg, #230007ff, #d7cf07ff, #d98324ff, #a40606ff, #5a0002ff);
$gradient-top-right: linear-gradient(45deg, #230007ff, #d7cf07ff, #d98324ff, #a40606ff, #5a0002ff);
$gradient-bottom-right: linear-gradient(135deg, #230007ff, #d7cf07ff, #d98324ff, #a40606ff, #5a0002ff);
$gradient-top-left: linear-gradient(225deg, #230007ff, #d7cf07ff, #d98324ff, #a40606ff, #5a0002ff);
$gradient-bottom-left: linear-gradient(315deg, #230007ff, #d7cf07ff, #d98324ff, #a40606ff, #5a0002ff);
$gradient-radial: radial-gradient(#230007ff, #d7cf07ff, #d98324ff, #a40606ff, #5a0002ff);