/* Coolors Exported Palette - https://coolors.co/32373b-4a5859-f4d6cc-f4b860-c83e4d */

/* CSS HEX */
--onyx: #32373bff;
--feldgrau: #4a5859ff;
--unbleached-silk: #f4d6ccff;
--sunray: #f4b860ff;
--brick-red: #c83e4dff;

/* CSS HSL */
--onyx: hsla(207, 8%, 21%, 1);
--feldgrau: hsla(184, 9%, 32%, 1);
--unbleached-silk: hsla(15, 65%, 88%, 1);
--sunray: hsla(36, 87%, 67%, 1);
--brick-red: hsla(353, 56%, 51%, 1);

/* SCSS HEX */
$onyx: #32373bff;
$feldgrau: #4a5859ff;
$unbleached-silk: #f4d6ccff;
$sunray: #f4b860ff;
$brick-red: #c83e4dff;

/* SCSS HSL */
$onyx: hsla(207, 8%, 21%, 1);
$feldgrau: hsla(184, 9%, 32%, 1);
$unbleached-silk: hsla(15, 65%, 88%, 1);
$sunray: hsla(36, 87%, 67%, 1);
$brick-red: hsla(353, 56%, 51%, 1);

/* SCSS RGB */
$onyx: rgba(50, 55, 59, 1);
$feldgrau: rgba(74, 88, 89, 1);
$unbleached-silk: rgba(244, 214, 204, 1);
$sunray: rgba(244, 184, 96, 1);
$brick-red: rgba(200, 62, 77, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #32373bff, #4a5859ff, #f4d6ccff, #f4b860ff, #c83e4dff);
$gradient-right: linear-gradient(90deg, #32373bff, #4a5859ff, #f4d6ccff, #f4b860ff, #c83e4dff);
$gradient-bottom: linear-gradient(180deg, #32373bff, #4a5859ff, #f4d6ccff, #f4b860ff, #c83e4dff);
$gradient-left: linear-gradient(270deg, #32373bff, #4a5859ff, #f4d6ccff, #f4b860ff, #c83e4dff);
$gradient-top-right: linear-gradient(45deg, #32373bff, #4a5859ff, #f4d6ccff, #f4b860ff, #c83e4dff);
$gradient-bottom-right: linear-gradient(135deg, #32373bff, #4a5859ff, #f4d6ccff, #f4b860ff, #c83e4dff);
$gradient-top-left: linear-gradient(225deg, #32373bff, #4a5859ff, #f4d6ccff, #f4b860ff, #c83e4dff);
$gradient-bottom-left: linear-gradient(315deg, #32373bff, #4a5859ff, #f4d6ccff, #f4b860ff, #c83e4dff);
$gradient-radial: radial-gradient(#32373bff, #4a5859ff, #f4d6ccff, #f4b860ff, #c83e4dff);