/* Coolors Exported Palette - https://coolors.co/1f2421-216869-49a078-9cc5a1-dce1de */

/* CSS HEX */
--dark-jungle-green: #1f2421ff;
--skobeloff: #216869ff;
--shiny-shamrock: #49a078ff;
--eton-blue: #9cc5a1ff;
--gainsboro: #dce1deff;

/* CSS HSL */
--dark-jungle-green: hsla(144, 7%, 13%, 1);
--skobeloff: hsla(181, 52%, 27%, 1);
--shiny-shamrock: hsla(152, 37%, 46%, 1);
--eton-blue: hsla(127, 26%, 69%, 1);
--gainsboro: hsla(144, 8%, 87%, 1);

/* SCSS HEX */
$dark-jungle-green: #1f2421ff;
$skobeloff: #216869ff;
$shiny-shamrock: #49a078ff;
$eton-blue: #9cc5a1ff;
$gainsboro: #dce1deff;

/* SCSS HSL */
$dark-jungle-green: hsla(144, 7%, 13%, 1);
$skobeloff: hsla(181, 52%, 27%, 1);
$shiny-shamrock: hsla(152, 37%, 46%, 1);
$eton-blue: hsla(127, 26%, 69%, 1);
$gainsboro: hsla(144, 8%, 87%, 1);

/* SCSS RGB */
$dark-jungle-green: rgba(31, 36, 33, 1);
$skobeloff: rgba(33, 104, 105, 1);
$shiny-shamrock: rgba(73, 160, 120, 1);
$eton-blue: rgba(156, 197, 161, 1);
$gainsboro: rgba(220, 225, 222, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #1f2421ff, #216869ff, #49a078ff, #9cc5a1ff, #dce1deff);
$gradient-right: linear-gradient(90deg, #1f2421ff, #216869ff, #49a078ff, #9cc5a1ff, #dce1deff);
$gradient-bottom: linear-gradient(180deg, #1f2421ff, #216869ff, #49a078ff, #9cc5a1ff, #dce1deff);
$gradient-left: linear-gradient(270deg, #1f2421ff, #216869ff, #49a078ff, #9cc5a1ff, #dce1deff);
$gradient-top-right: linear-gradient(45deg, #1f2421ff, #216869ff, #49a078ff, #9cc5a1ff, #dce1deff);
$gradient-bottom-right: linear-gradient(135deg, #1f2421ff, #216869ff, #49a078ff, #9cc5a1ff, #dce1deff);
$gradient-top-left: linear-gradient(225deg, #1f2421ff, #216869ff, #49a078ff, #9cc5a1ff, #dce1deff);
$gradient-bottom-left: linear-gradient(315deg, #1f2421ff, #216869ff, #49a078ff, #9cc5a1ff, #dce1deff);
$gradient-radial: radial-gradient(#1f2421ff, #216869ff, #49a078ff, #9cc5a1ff, #dce1deff);